.grid_nosotros{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    margin-bottom: 20px;
    margin-top: 32px;
}

.square{    
    width: 100%;
    background-size: cover;
    background-position: center; 
    &::after{
        content: "";
        display: block;
        padding-top: 100%;
    }       
}

.one{
    @extend .square;
    background-image: url(../imagenes/Nosotros/imagen_1.jpg);
}

.two{
    @extend .square;
    background-image: url(../imagenes/Nosotros/imagen_2.jpg);
}
