@import '../componentes/card_pedidos';

.fondo_mujer{
    width: 40%;
    max-height: 65vh;
    position: fixed;
    bottom: 0px;
    filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.5));
    object-fit: contain;
}
