/* MEDIA QUERY MOBILE */
@media (max-width: 768px){
        footer{
            flex-direction: column-reverse;  
        }
        footer p{
            padding: 4px;
        }
        .desktop{
            display: none;
        }
        div.ContainerPrincipal{
            flex-direction: column;
        }
        .Hide_Mobile{
            display: none;
        }
        .modal_content{
            &desktop{
                display: none;
            }
        }
    }

/* MEDIA QUERY DESKTOP */
 
@media (min-width: 768px){
    .mobile{
            display: none;
        }
    }

    html{
        height: 100%;
    }

    body{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    