/* Colores */

$amarillo_burguer: #F6CA44;
$amarillo_burguer_dark:#BF9000;
$amarillo_burguer_light:#FFE7A0;
$verde_burguer: #95C11F;
$negro_burguer:#111;
$gris_burguer:#4f4f4f;
$gris_burguer_light: #969696;

/* Sombras */
$focus_shadow: inset 0px 0px 5px $negro_burguer;
$card_shadow: 6px 6px 4px rgba(0,0,0,0.3);
$menu_active_shadow: 0px 0px 20px $amarillo_burguer_light;
$menu_static_shadow: 0px 0px 10px $amarillo_burguer_dark;

/* Margenes */
$navbar_selected:2px 16px 2px 16px;
$navbar_nonselected:2px 8px 2px 8px;