.tarjeta_pedidos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $amarillo_burguer_light;
    opacity: 0,5;
    margin: auto;
    margin-top: 10vh;
    padding: 5%;
    max-width: 600px;
    box-shadow: 20px 02px 40px $amarillo_burguer_dark;
    border-radius: 8px;
    h2{
        margin-top: 0px;
        margin-bottom: 4px;        
    }
    nav{
        margin-top: 5%;
    }
    .iconos_pedidos{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
        img{
            width: 100%; 
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);  
                filter: drop-shadow(10px 10px 40px rgba(0,0,0,0.6));
            }
            &:active{
                transform: scale(0.9); 
            }      
        }                     
    }  
}