@import '../base/mixins';

header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    min-height: 136px;

    position: fixed;
    top: 0;
    z-index: 2;

    background-color: $negro_burguer;
    padding: 16px 32px 20px 32px;
    border-bottom: 2px solid $amarillo_burguer;

    .Marca{
        img{
            height: 100px;
        }
        &.index{
            opacity: 0%;
            cursor: default ;
        }
    }

    nav.desktop{
        ul{
            display: flex;
            flex-direction: row;
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            li{
                a.Actual{
                    text-decoration: none;
                    font-family: HelveticaRounded;
                    font-size: 18px;
                    margin: $navbar_selected;

                    color: $verde_burguer;
                    border-top: 12px solid $verde_burguer;
                    border-radius: 10px 10px 5px 5px;
                    border-bottom: 8px solid $verde_burguer;
                }
                a.Opcion{
                    @extend a,.Actual;
                    margin: $navbar_nonselected;
                    color: $gris_burguer_light;  
                    border-top: none;
                    border-bottom: none;
                    transition: 0.2s ease-in;
                    &:hover{
                        border-top: 12px solid $gris_burguer_light;
                        border-radius: 10px 10px 5px 5px;
                        border-bottom: 8px solid $gris_burguer_light;
                        margin: $navbar_selected; 
                    }   
                }
            }
        }
    }
    nav.mobile{

        button.menu_hamburguesa{
            background-color: #111;
            border: none;
            transition: 2s; 
        }

        .Icono_hamburguesa{
            display: flex;
            flex-direction: column;
            margin: 8px 0px 8px 0px;
            justify-content: flex-end;
            height: 50px;   
            #Tapa{
                @include partes_hamburguesa(40px, 12px, white, 16px 16px 2px 2px);
                margin-bottom: 4px;
            }
            #Carne{
                @include partes_hamburguesa(40px, 8px, white, 4px);
            }
            #Base{
                @include partes_hamburguesa(40px, 8px, white, 2px 2px 6px 6px);
                margin-top: 4px;
            }          
        }

        ul.dropdown{
            display: none;            
            position: absolute;
            right: 0px;
            top: 136px;
            padding: 0px;
            background-color: $gris_burguer;
            list-style-type: none;
            li{
                padding: 12px 32px 12px 8px;
                border-left: 8px solid $gris_burguer_light;
                border-bottom: 1px solid $gris_burguer_light;
                a{
                    font-family: HelveticaRounded;
                    color: $gris_burguer_light;
                    text-decoration: none;
                    font-size: 18px;
                }
                &.Drop_down_Actual{
                    border-left: 8px solid $verde_burguer;
                    border-bottom: 1px solid $verde_burguer;
                    a{
                        color: $verde_burguer;
                    }
                }
            }    
        }
    }

}

button.menu_hamburguesa:focus-within div.Icono_hamburguesa{
    justify-content: space-between; 
}
nav.drawer:focus-within ul.dropdown{
    display: block; 
}


