@import '../base/variables';

.menu_navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px;
    
    ul{
        display: flex;
        width: 500px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0px;
        padding: 0px; 
        li{
            a{
                &.boton_menu{
                    width: 80px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $amarillo_burguer_light;
                    border-radius: 50%;
                    box-shadow: $menu_static_shadow;
                    padding: 8px;
                    transition: 0.5s;                    
                    img{
                        height: 75%;
                        filter: invert(68%) sepia(55%) saturate(4987%) hue-rotate(18deg) brightness(94%) contrast(101%);                                 
                    }
                    &.Seleccionado{
                        background-color: $amarillo_burguer_dark;
                        img{
                            filter: invert(87%) sepia(9%) saturate(1396%) hue-rotate(353deg) brightness(105%) contrast(101%);
                        } 
                    }
                    &:hover{
                        transform: scale(1.3);
                        background-color: $amarillo_burguer_dark;
                        box-shadow: $menu_active_shadow;
                        img{
                            filter: invert(87%) sepia(9%) saturate(1396%) hue-rotate(353deg) brightness(105%) contrast(101%);
                        }                        
                    }
                }
            }
        }
    }
}
